.profile-container {
  display: flex;
  justify-content: left;
  margin-top: 50px;
}

.profile-card {
  background: #fff;
  padding: 30px;
  width: 400px;
  text-align: left;
  border-radius: 15px;
  
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

.profile-name {
  font-size: 35px;
  margin-bottom: 8px;
}

.profile-email {
  font-size: 20px;
  color: black;
  margin-bottom: 6px;
}

.profile-mob {
  font-size: 20px;
  color: black;
}
.profile-dob {
  font-size: 20px;
  color: black;
}